<div class="loc-view">
  <div class="data panel">
    <h3>Edit Location</h3>
    Name:
    <br>
    {{input value=model.name}}
    <br>
    Description:
    <br>
    {{textarea value=model.description}}
    <br>
    <span>Features:</span>
    <br>
    {{input type='checkbox' checked=model.feature24hr}} 24 hour?
    <br>
    {{input type='checkbox' checked=model.featureSeating}} Power available?
    <br>
    {{input type='checkbox' checked=model.featurePower}} Indoor seating?
    <br>
    <span>Current Lat & Long (click map to change)</span>
    <br>
    Lat: {{input value=model.loc.[0]}}
    <br>
    Long: {{input value=model.loc.[1]}}
    <br>
    <button {{action "updateLocation"}}>Save Changes</button>
    <br>
    <button {{action "gotoIndex"}}>Discard Changes</button>
    <br>
    <button {{action "deleteLocation"}}>Delete This Location</button>
  </div>
</div>

<div class="map">
  {{google-maps lat=model.loc.[0] long=model.loc.[1] marked=true canEdit=true action="updateLocWithMarker"}}
</div>

{{outlet}}
