<h2>New Location...</h2>
<h3>Last clicked: ({{newLoc.loc.latitude}}, {{newLoc.loc.longitude}})</h3>

<form {{action "saveNewLocation" on="submit"}}>
{{input value=newLoc.name placeholder="Name"}}
<br>
{{textarea value=newLoc.description placeholder="Description"}}
<br>
<label>Features:</label>
<br>
<span>Click the map to set the location:</span>

{{google-maps lat=newLoc.loc.latitude long=newLoc.loc.longitude action='updateLocWithMarker'}}
<button {{action "saveNewLocation"}}>Go!</button>
</form>


{{outlet}}
