<div class="loc-view">
  <div class="data panel">
    <h2>New Location:</h2>
    <form {{action "saveNewLocation" on="submit"}}>
      <label>Location Name:</label>
      {{input value=newLoc.name placeholder="Mcdonald's, Parking Lot"}}
      <br>
      <label>Description</label>
      {{textarea value=newLoc.description placeholder="Tell us a little about this location..."}}
      <br>
      <label>Features:</label>
      <div class="panelbox">
      <label>
        {{input type='checkbox' checked=newLoc.feature24hr name="24hr"}} 24 hour?
        <br>
        {{input type='checkbox' checked=newLoc.featureSeating  name="seating"}} Indoor Seating?
        <br>
        {{input type='checkbox' checked=newLoc.featurePower name="power"}} Power available?
      </label>
      </div>
      <br>
      <label>Location:</label>
      <br>
      <button {{action "loadMyLoc"}}>Use my current location</button>
      <button {{action "loadMapLoc"}}>Use the map's location</button>
      <br><br>
      <button type="submit">Add To Safemeet</button>
    </form>
  </div>

  <div class="map">
    {{google-maps lat=newLoc.loc.latitude long=newLoc.loc.longitude marked=true canEdit=true action='updateLocWithMarker'}}
  </div>
</div>
{{outlet}}
