<div class="loc-view">
  
  <div class="map">
    {{google-maps lat=model.loc.latitude long=model.loc.longitude marked=true}}
  </div>
  
  <div class="data panel">
    <h2>{{model.name}}</h2>
    <h4>Description</h4>
    <p>{{model.description}}</p>
    <br>
    <h4>Features:</h4>
    <div class="panelbox">
    <label>
      {{input type='checkbox' checked=feature24Hr name="24hr" disabled=true}} 24 hour?
      <br>
      {{input type='checkbox' checked=featureSeating  name="seating" disabled=true}} Indoor Seating?
      <br>
      {{input type='checkbox' checked=featurePower  name="power" disabled=true}} Power available?
    </label>
    </div>
    <br>
    <h4>Location:</h4>
    <br>
    <p>Location Info (address?)</p>
    <br><br>
    {{#if session.isAuthenticated }}
      <br>
      <button {{action "likeLocation"}}>Like This Location</button>
      <br>
      <button {{action "reportLocation"}}>Report This Location</button>
      {{#if session.currentUser.isAdmin}}
        <br>    
        <button {{action "gotoEdit"}}>Edit This Location</button>
      {{/if}}
    {{/if}}
  </div>

</div>
{{outlet}}
{{#each item in checkboxes}}
  {{input type=checkbox checked=item.hasThisProperty}}
{{/each}}
