<div class="user-view">
  <div class="profile panel">
    <h2>New User</h2>
    <form {{action 'createUser' on='submit'}}>
      {{input value=user.fname placeholder='First Name'}}
      <br>
      {{input value=user.lname placeholder='Last Name'}}
      <br>
      {{input value=user.nickname placeholder='Nickname'}}
      <br>
      {{input value=user.email placeholder='Email Address' type='email'}}
      <br>
      {{input value=user.password placeholder='Password' type='password'}}
      <br>
      {{input placeholder='Confirm Password' type='password'}}
      <br>
      {{input value=user.homezip placeholder='Home Zip Code'}}
      <br>
      <button {{action "getLoc"}}>Use Current Position</button>
      <br>
      <button type="submit">Create User</button>
    </form>
  </div>
</div>

{{outlet}}
