<div class="container">

<header>
  {{#link-to 'index'}}<img src="assets/img/safemeet-logo.png">{{/link-to}}
  <br>
  <span class="subtitle">
  {{#if session.isAuthenticated}}
    Logged in as {{session.currentUser.nickname}}! (<a {{action 'invalidateSession'}} href="javascript:void(0)">logout</a>)
  {{else}}
    {{link-to "Login" 'user.login'}}
  {{/if}}
  </span>
</header>

{{outlet}}

<footer>
  Made 2015 by Alex
</footer>

</div>
