<div class="menu panel">
  <ul>
  {{#if session.isAuthenticated}}
  <li>{{link-to "Profile" 'user.new'}}</li>
  {{else}}
  <li>{{link-to "Login" 'user.login'}}</li>
  {{/if}}
  <li>{{link-to "New..." 'loc.new'}} </li>
  <li><<button {{action "test"}}>Test Action</button></li>
  </ul>
</div>

<div class="map panel">
  {{google-maps lat=loc.latitude long=loc.longitude marked=true}}
</div>

<div class="locations panel">
  <ul>
  {{#if nearbyLocations.length }}
  {{#each location in nearbyLocations}}
    <li>
      {{#link-to 'loc.view' location}}
        <h2>{{location.name}}</h2>
      {{/link-to}}
      <p>{{location.distance}} miles</p>
      <p>{{location.description}}</p>
    </li>
  {{/each}}
  {{else}}
    <h2>No Safemeet locations nearby.</h2>
    {{#link-to 'loc.new'}}
      <h2>Why not add some?</h2>
    {{/link-to}}
  {{/if}}
  </ul>
</div>

{{outlet}}
