<div class="menu panel">
  <ul>
  {{#if session.isAuthenticated}}
  <li>{{link-to "Profile" 'user.profile' session.currentUser}}</li>
  {{else}}
  <li>{{link-to "Login" 'user.login'}}</li>
  {{/if}}
  <li>{{link-to "New Location" 'loc.new'}} </li>
  <li>
    <form {{action "findAddress" on='submit'}}>
      Find: {{input value=searchAddress placeholder="Address/Zip"}}
    </form>
  </li>
  <li><button {{action "test"}}>Test Action</button></li>
  </ul>
</div>

<div class="map panel">
  {{google-maps lat=loc.latitude long=loc.longitude marked=true loc-list=nearbyLocations}}
</div>

<div class="locations panel">
  <!-- <ul> -->
  {{#if nearbyLocations.length }}
  {{#view "scrollpanel"}}
    {{#each location in nearbyLocations}}
      <li>
        {{#link-to 'loc.view' location}}
          <h2>{{location.pos}}: {{location.name}}</h2>
        {{/link-to}}
        <p>{{location.distance}} miles</p>
        <p>{{location.description}}</p>
      </li>
    {{/each}}
  {{/view}}
  {{else}}
    <h2>No Safemeet locations nearby.</h2>
    {{#link-to 'loc.new'}}
      <h2>Why not add some?</h2>
    {{/link-to}}
  {{/if}}
  <!-- </ul> -->
</div>
