{{#atm-modal enabled=false title="About Safemeet" id="modal-about"}}
<p>
  Safemeet is a new application that makes it a breeze to arrange safe meeting locations with strangers. 
  Intended for users of online secondhand marketplaces, Safemeet allows you to see popular, occupied locations nearby to schedule meetups at. Locations can be created & rated by users like you. 
  To get started:
  <ul>
    <li>Type in an address or zip code you'd like to check for Safemeet locations.</li>
    <li>Click on any of the displayed Safemeet locations in the right menu to view more info.</li>
    <li>Add your favorite meetup location if it's not already listed!</li>
    <li>Consider creating a profile to take advantage of social features.</li>
  </ul> 

  Thanks, and enjoy!
</p>

{{/atm-modal}}
<div class="menu panel">
  <ul>
  {{#if session.isAuthenticated}}
  <li>
    <span class="menu-name">Welcome, {{session.currentUser.nickname}}!</span>
  </li>
  <li>{{link-to "- Your Profile" 'user.profile' session.currentUser}}</li>
  {{else}}
  <li>{{link-to "Login" 'user.login' class="menu-name"}}</li>
  {{/if}}
  <li>{{link-to " - New Location" 'loc.new'}} </li>
  <form {{action "updateAddress" on='submit'}}>
    <li><span class="form-header">Current Map</span></li>
    <li>
      <span class="form-label">Lookup Location:</span>
      <br>
      {{input value=searchAddress placeholder="Address/Zip"}}
      <br>
      <span class="form-label">Search Range:</span>
      {{input value=searchRange placeholder="In Miles"}}
      <br>
      <button type="submit">Update</button>
    </li>
  </form>
  <li><a {{action "openModal"}} class="menu-name" href="javascript:void(0)">Learn More</a></li>
  </ul>
</div>

<div class="map">
  {{google-maps lat=loc.latitude long=loc.longitude marked=true loc-list=nearbyLocations}}
</div>

<div class="locations panel">
  <!-- <ul> -->
  {{#if nearbyLocations.length }}
  {{#view "scrollpanel"}}
    {{#each location in nearbyLocations}}
      <li>
        {{#link-to 'loc.view' location}}
          <h2>{{location.pos}}: {{location.name}}</h2>
        {{/link-to}}
        <p>{{location.distance}} miles</p>
        <p>{{location.description}}</p>
      </li>
    {{/each}}
  {{/view}}
  {{else}}
    <h2>No Safemeet locations nearby.</h2>
    {{#link-to 'loc.new'}}
      <h2>Why not add some?</h2>
    {{/link-to}}
  {{/if}}
  <!-- </ul> -->
</div>
